/* Remote collaboration cursors */
.collaboration-cursor__caret {
  border-left: 2px solid;
  border-right: none;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  left: -1px;
  line-height: 1;
  padding: 2px 6px;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
  font-family: 'Inter', sans-serif;
}

/* Online users indicator */
.collab-users {
  display: flex;
  align-items: center;
  gap: 2px;
}

.collab-user-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1.5px solid white;
}

.dark .collab-user-dot {
  border-color: #1f2937;
}
